.App {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.App--ConfPanel {
  max-width: 200px;
  width: 100%;
  z-index: 10000;
}

.App--Figure {
  border: 1px solid black;
  width: 800px;
  height: 800px;
  z-index: -999;
}